/vendor/
vendor/
/node_modules/
node_modules/
/certs/*
certs/*
*.lock
storage/*.log
/storage/*.log
public_uc
public_uc/*
/public_uc
/public_uc/*
public_test
public_test/*
/public_test
/public_test/*
test
/test
test/*
/test/*
src/layouts
/src/layouts
src/layouts/
/src/layouts/
src/layouts/*
/src/layouts/*