vendor/
node_modules/
storage/*
certs/*
*.lock
package-lock.json
faviconData.json
storage/*.log
public_uc
public_uc/*
public_test
public_test/*
test
test/*
src/layouts
src/layouts/
src/layouts/*
config/config.defs.php
database
database/
database/*